
<ng-container *ngIf="movie">
  <div class="slider flex flex-col justify-between relative h-[35rem]">
      <div class="slide absolute w-full flex h-[35rem] overflow-hidden" >
        <div class="slide-bg relative flex grow shrink basis-[auto] after:absolute
        after:top-0 after:right-0 after:bottom-0 after:left-0 after:block">
          <img class="slide-bg-image h-full w-full object-cover" [src]="imageSizes.large+movie.backdrop_path" alt="" />
        </div>
        <div class="slide-pane">
          <h2 class="name">{{movie.original_title}}</h2>
          <div class="meta">
            <div class="info">
              <span class="rating "> <span class="app-icons text-yellow-400">star</span><span class="rating-value text-w">{{movie.vote_average}}</span><span>/10</span> </span>
              <span>{{movie.vote_count}} Reviews</span>
              <span>{{movie.release_date | date:'yyyy'}}</span>
            </div>
          </div>
          <div class="desc mt-6">
            <p class="text-sm">{{movie.overview}}</p>
          </div>
        </div>
      </div>
  </div>
</ng-container>


